*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.playfair-display-googlefont {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
ul{
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}
.button{
padding: 0.65rem 1.25rem;
border-radius: 5px;
background-color: #fff;
width: fit-content;
border: 2px solid #fc9902;
position: relative;
z-index: 0;
}
.button span{
    font-weight: 500;
    position: relative;
    color: #fc9902;
    z-index: 2;
}
.button::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width:0;
    transition: all 0.3s;
    border-radius: 5px;
    background-color: #fc9902;
    z-index: 1;
}
.button:hover::before{
    width: 100%;
    /* border: 2px solid #fc9902; */
}
.button:hover span{
   color: #fff !important;
}
@media (max-width:768px){
    .button{
padding: 0.5rem 1rem;
font-size: 14px;
    }
}
/* toppest nav */
.toppestnav{
    border-bottom: 2px solid #c0c0c0  ;
    background-color: #fff;
}
.toppestnav i{
font-size: 20px;
color: #808080  ;
}
.searchingbar{
    border: 2px solid #808080  ;
    border-radius: 10px;
    padding:0.5rem 1rem;
    min-width: 280px;
    max-width: 500px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.searchingbar i{
    color: #c0c0c0 ;
}
.searchingbar input{
    border: none;
    width: 100%;
}
.searchingbar .bi-x-lg{
    color: black;
    opacity: 0;
    cursor: pointer;
}

.searchingbar input:focus-visible{
    outline: none;
}
.searchingbar:focus-within .bi-x-lg {
   opacity: 1;
}
@media (max-width:576px){
   .searchingbar{
    padding:0.25rem 1rem;
    max-width: 100%;
}
.searchingbar i{
    font-size: 16px;
}
}
.bottomnav{
    border-bottom: 2px solid #c0c0c0 ;
    background-color: #fff;
}
.bottomnav ul{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.bottomnav ul li{
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
    font-weight: 500;
}
.bottomnav ul li::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width:0;
    transition: all 0.3s;
    background-color: purple;
}
.bottomnav ul li:hover::before{
width: 100%;
}

/* ctglistdiv */
.ctglistdiv{
    width:100%;
 background-color:#fbe9ce;
 height:100vh;
 position: fixed;
 left: -100%;
 top: 70px;
 transition: 0.3s;
 z-index: 99;
}
.ctglist li{
padding: 1rem;
border-bottom: 1px solid pink;
border-left: 3px solid transparent;
border-right: 3px solid transparent;
font-weight: 500;
}
.ctglist li:hover{
    background-color: #fff;
border-left: 3px solid #4c0026;
border-right: 3px solid #4c0026;
}
.ctglist li.active{
     background-color: #fff;
border-left: 3px solid #4c0026;
border-right: 3px solid #4c0026;
}
.ctgclose{
    cursor: pointer;
}
@media (max-width:576px){
   .ctglistdiv {
top: 120px;
   }
  
}

/* sort div */
.sort_div{
  width:100%;
 background-color:#fbe9ce;
 position: fixed;
 left: 0;
 bottom: -100%;
 transition: 0.3s;
 z-index: 99;
 border-top: 3px solid #4c0026;
 z-index: 99;
}

.filter_div{
  width:100%;
 background-color:#fbe9ce;
 position: fixed;
 left: 0;
 bottom: -100%;
 transition: 0.3s;
 z-index: 99;
 border-top: 3px solid #4c0026;
 z-index: 9999;
}
.sort_div.show , .filter_div.show{
bottom: 0;
}
/* banner */
.bannermain{
    position: relative;
}
.bannertext {
    position: absolute;
    /* padding: 1rem; */
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    color: #fc9902;
        
}
.bannertext h1{
    font-size: 4vmax;
}
@media (max-width:768px){
   .bannertext {
left: 8%;
   }
    .bannertext h3{
    font-size: 1rem;
}
}
@media (max-width:576px){
   .bannertext {
left: 1rem;
   }
  
}
/* bannerbottom */
.bannerbottom{
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(251, 221, 226);
    padding: 0.75rem;
}
.bannerbottom > div{
    background-color: #fbe9ce;
    border: 2px solid pink;
    padding: 0.75rem;
    border-radius: 10px;
}
.bannerbottom > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.bannerbottom span{
color: #c0c0c0;
}

/* category list */
.imgdiv{
   display: flex;
   align-items: center;
   justify-content: center;
   
position: relative;
z-index: 0;
}
.imgdiv img{
    position: relative;
    z-index: 2;
    width: 80%;
}
.imgdiv::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80%;
    width: 100%;
    background-color: rgb(251, 221, 226);
    border: 1px solid purple;
    z-index: 1;
    border-radius: 50% 50% 0 0;
}



/* product section */
/* filter at mobile view */
.filteratmobile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #808080;
    padding: 0.5rem 0;
    position: relative;
}
.filteratmobile p{
    margin-bottom: 0;
}
.filteratmobile::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    background-color: #808080;
    height: 100%;
    width: 1px;
}

/* left div of the product */
.maindropdownlist {
    padding:1rem !important;
    /* display: flex;
    flex-direction: column; */
    row-gap: 0.5rem;
    border-bottom: 1px solid #808080;
}

.maindropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100% !important;
    border: none !important;
}
.sort-option {
    display: none;
    padding: 5px 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}
.sort-option:hover{
background-color: #000;
color: #fff;
}
.sort-option.active{
background-color: #000;
color: #fff;
}
.maindropdownlist.active .sort-option {
    display: block;
}

.maindropdown i {
    transition: transform 0.3s ease;
}

.maindropdownlist.active .maindropdown i {
    transform: rotate(180deg);
}
.designlist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.designlist li{
    width: fit-content;
    border-radius: 5px;
border: 1px solid #808080;
}
.maindropdownlist select{
    width: 100%;
}
/* right div of the product */
.productsec{
position: relative;
}
.prod_left{
    width: 280px;
    border-right: 2px solid #808080;
   position: sticky;
   top: 120px;
   height: calc(100vh - 120px);
}

.prod_desc_page .prod_card{
    margin: 0 2px;
}

.prod_card{
    position: relative;
border: 2px solid #c0c0c038;
height: 100%;
 display: flex;
    flex-direction: column;
    cursor: pointer;
}
.prod_card_desc{
    background-color: #fff;
    transition: all 0.3s;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.prod_card:hover{
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.prod_card:hover .prod_card_desc{
    transform: translateY(-5px);
}
.prod_card_desc > span{
   
    display: block;          
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pricediv{
    margin-top: auto;
}
.pricediv del{
    color: #808080;
    font-size: 12px;
}
.pricediv small{
    color: green;
    font-weight: 500;
    font-size: 12px;
}
.wishlisticon{
    position: absolute;
    right: 1rem;
    font-size: 18px;
    top: 1rem;
    color: #808080;
}
.outofstock{
    color: #4c0026;
    background-color: antiquewhite;
    width: fit-content;
    font-size: 10px;
    padding: 5px 8px;
border: 1px solid #4c0026;
border-radius: 5px;
margin-top: 5px;
}
@media (min-width:992px) {
    .productsec{
    display: flex;
}
.prod_right{
    width: calc(100% - 280px);
   
}
}
@media (max-width:576px) {
    .prod_card_desc{
        font-size: 12px;
    }
    .prod_card_desc h6{
font-size: 12px;
    }
}

/* footer */

footer {
  background:#4c0026;
  color:#c0c0c0;
}
footer h2{
    color: #fc9902;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-bottom: 5px;
}
footer ul li{
    line-height: 1.8;
}
footer ul li a{
color: #c0c0c0;
}
footer ul li a:hover {
  color:#fc9902;
}

.footer-social {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}

.footer-social a {
  width: 36px;
  height: 36px;
  background: #fc9902;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
  text-decoration: none;   
}

.footer-social a:hover {
  background: #fff;
  color: #4c0026;
}

/* BOTTOM BAR */
.footer-bottom {
  border-top:1px solid rgba(255,255,255,0.15);
  text-align:center;
  padding:15px;
  font-size:14px;
  color: #c0c0c0;
}

.footer-bottom a {
  color:#fc9902;
  text-decoration:none;
  font-weight:600;
}

/* product description page */
/* product description left side - images side  */

.thumbnail_imgs img{
   border: 1px solid black;
   aspect-ratio: 1 / 1;
   object-fit: cover;
   object-position: top;
}
.prod_desc_page_images .wishlisticon{
   background-color: #ffffffa8;
   padding: 8px;
   top: 1.5rem;
   border-radius: 50%;
   display: flex;
   
   align-items: center;
   justify-content: center;
   aspect-ratio: 1 / 1;
   line-height: 1; 
}
.thumbnail_mainimg{
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    cursor: zoom-in;
}
.thumbnail_mainimg img{
    width: 100%;
    transition: transform 0.1s ease;
}
@media (max-width:1200px) {
    .thumbnail_imgs{
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
}

/* right side of the product description */
.product_details {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.product_right h5{
    color: #808080;
}
.rating_product > span{
background-color: #fc9902;
padding:1px 5px;
color: #fff;
border-radius: 5px;
}
.rating_product p{
    color: #808080;
    margin-bottom: 0;
}
.for_delivery_date label{
    font-size: 12px;
}
.some_details > div{
    font-size: 12px;
}
.product_details{
    padding: 1rem 0;
}
.prod_info{
display: none;
transition:all 0.3s;
width: 100%;
}
.prod_info tr{
    display: flex;
    align-items: start;
    justify-content: start;
    line-height: 1.8;
}
.prod_info td:nth-child(1){
width: 20%; 
color: #808080;
font-weight: 600;
font-size: 14px; 
}
.prod_info td:nth-child(2){
width: 80%;  
font-size: 14px; 
}
.prod_info.showing{
display: block;
}
.review li{
padding: 1rem 0;
border-bottom: 1px solid #808080;
}
.customerimages{
    overflow-x: scroll;
    scrollbar-width: none;
display: flex;
margin-top: 1rem;
}
.customerimages img{
    width: 80px;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: top;
    border: 1px solid black;
}
.review{
display: none;
transition:all 0.3s;
width: 100%;
}
.review.showing{
    display: block;
}
@media (max-width:425px) {
    .for_delivery_date input{
        width: 120px;
    }
    .for_delivery_date input::placeholder{
       font-size: 12px;
    }
.some_details img{
    width: 20px;
}
.prod_info td:nth-child(1){
   font-size: 12px;
   width: 25%;
}
.prod_info td:nth-child(2){
    width: 75%;
}
}
@media (min-width:992px) {
   .product_right .pricediv span b{
font-size: 1.5rem;
}
.mmain{
   position: sticky;
   top: 120px;
   max-height: fit-content;
}
}
.colordiv
{
    margin-top: 1rem;
    overflow-x: scroll;
    scrollbar-width:none;
    padding: 0 5px;
    display: flex;
    gap: 0.5rem;
    width: 100%;
}
.color{
    height: 40px;
    width: 40px;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    background-color: red;
border-radius: 50%;
}
/* rating form */
.ratingdiv_section{
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;
}

.ratingdiv {
  width:calc(100% - 2rem);
  max-width: 400px;
  margin: auto;
background-color: #4c0026b8;
padding: 1rem;
border-radius: 10px;
border: 1px solid #fff;
}

.stars {
  margin-bottom: 10px;
}

.star {
  font-size: 32px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease;
}

.inputimg input{
   background-color: #fff;
   border-radius: 5px;
   width: 100%;
}

/* hover effect */
.star:hover,
.star.active {
  color: #ffc107;
}

textarea {
  width: 100%;
  resize: none;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

